*{
    margin: 0;
    padding: 0;
}
body{
    place-items: center;
}

.address{
    color:hsl(75, 94%, 57%);
}
.link{
    margin-top:8px;
    transition: background-color 1.5s;
    background-color: hsl(0, 0%, 2%);
}
.link:hover{
    cursor: pointer;
    color:black;
    background-color: hsl(75,94%,57%);

}